@using JSLess

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | JSLess</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/Content/JSLess-Styles.css" rel="stylesheet" media="screen">

    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/jsless-core.js"></script>
    <script src="/Scripts/jsless-invoke.js"></script>
    <script src="/Scripts/jsless-methods.js"></script>
    <script src="/Scripts/jsless-behaviors.js"></script>
    <script src="/Scripts/jsless.example.js"></script>

    @RenderSection("Head", false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cureo Docs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Docs">Home</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div data-jsless-widget="@ViewBag.WidgetID">
        @RenderBody()
    </div>
    <script src="/Scripts/bootstrap.min.js"></script>
    @RenderSection("Foot", false)
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").jsless({ debug: true });
        });
    </script>
</body>
</html>
