@using JSLess
@using JSLess.Models
@model UserProfile
@{
    Layout = "~/Views/Layouts/_Partial.cshtml";
    ViewBag.Title = "UserProfile";
    List<string> industryList = ViewBag.IndustryList ?? new List<string>();
    List<string> rolesList = ViewBag.RolesList ?? new List<string>();
    List<KeyValuePair<string, Guid>> itemList = ViewBag.ItemList ?? new List<KeyValuePair<string, Guid>>() { };


    var formButton = new object[]              { 
                 new { 
                     name = "html", 
                     url = "/Sample/UserProfile", 
                     method="POST",
                     onSuccess = ".div1", 
                     onFail = ".div3", 
                     @params = 
                     new { 
                         test = 1, 
                         test2 = "foobar" } 
                 } 
             };
 }

<form>
    <h3>UserProfile</h3>
    <input type="button" value="post" data-jsless="@(formButton.ToJsonObject())" />
    <div>
        @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.LabelFor(model => model.FullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
        </div>
        <div style="float: none">
            <div>
                <div>
                    Industries:
                </div>
                @foreach (String s in industryList)
                {
                    <label>
                        <input type="checkbox" name="Industries" @(Model.Industries.Any(o => o == s) ? "checked=\"checked\"" : "")  value="@s" />@s</label>
                }
            </div>
            <div style="padding: 20px 20px 20px 20px">
                <div>Roles:</div>
                <select name="Roles" multiple size="5">
                    @foreach (String r in rolesList)
                    {                        
                        <option value="@r" @(Model.Roles.Any(o => o == r) ? "selected=\"selected\"" : "")>@r</option>                        
                    }
                </select>
            </div>
            <div style="padding: 20px 20px 20px 20px">
                <div>ItemCounts:</div>
                <div>
                    @foreach (var item in itemList)
                    { 
                        <label for="ItemCounts_@item.Value">
                        </label>
                        <input id="ItemCounts_@item.Value" name="ItemCounts" data-key="@item.Value" value="@(Model.ItemCounts.ContainsKey(item.Value) ? Model.ItemCounts[item.Value] : 0)" />                            
                    }
                </div>

            </div>
        </div>
        <div style="position: absolute">
            <h4>The address is a complex type - lets see how it posts</h4>
            <div class="editor-label">
                @Html.LabelFor(model => model.HomeAddress.Address1)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HomeAddress.Address1)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.HomeAddress.Address2)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HomeAddress.Address2)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.HomeAddress.City)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HomeAddress.City)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.HomeAddress.State)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HomeAddress.State)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.HomeAddress.PostalCode)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HomeAddress.PostalCode)
            </div>

        </div>
    </div>
</form>
